body {
    font-family: Poppins;
    font-size: 18px;
}

a {
    color: #138e86;
    text-decoration: none;
}

a:visited {
    color: #0a494e;
}

p {
    margin: 0px;
}

.duration, .level, .ref_info {
    font-family: Poppins Medium;
    color: #0a494e;
}

h1, h2, h3, h4 {
    font-family: Poppins Medium;
    color: #0a494e;

}

.justify-content-start {
    justify-content: flex-start !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}