body {
    font-family: Poppins;
    font-size: 18px;
}

a {
    color: #138e86;
    text-decoration: none;
}

strong {
    font-family: 'Poppins medium';
    font-weight: none;

}

a:visited {
    color: #04098b;
    background-image: linear-gradient(45deg, #04098b 0%, #29af8e 100%, #4846ce 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    margin: 0px;
}

.duration, .level, .ref_info {
    font-family: Poppins Medium;
    color: #04098b;
    background-image: linear-gradient(45deg, #04098b 0%, #29af8e 100%, #4846ce 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1, h2, h3, h4 {
    font-family: Poppins Medium;
    color: #04098b;
    background-image: linear-gradient(45deg, #04098b 0%, #29af8e 100%, #4846ce 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}